<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shows database</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" href="/shows.css" media="screen"/>
  <script src="/addShow.js"></script>
</head>
<body>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-6">
        <div class="page-head">Add Show</div>

        <form th:action="@{/showsHs}" method="post" enctype="multipart/form-data"
              class="form-horizontal add-show-form">
          <fieldset>

            <label>HS URL</label>
            <input type="text" class="form-control" name="hsUrl" oninput="deriveShowName(this)"/>
            <label>Title</label>
            <input type="text" class="form-control" name="title"/>
            <label>Season</label>
            <input type="text" class="form-control" name="season"/>
            <label>Folder Name</label>
            <input type="text" class="form-control" name="folderName"/>
            <label>Release Schedule</label>
            <input type="text" class="form-control" name="releaseScheduleCron"/>
            <label>Naming Pattern</label>
            <input type="text" class="form-control" name="episodeNamePattern"
                   value="S<SEASON_2>E<EPISODE_2>"/>
            <label>Skip Episodes</label>
            <input type="text" class="form-control" name="initialSkipEpisodeString"/>
            <div class="page-head">
              <button type="submit" name="button" style="margin-top: .4em;">作る</button>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
