<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shows</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" href="/shows.css" media="screen"/>
</head>
<body>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <div class="page-head">Shows</div>
        <hr/>

        <table class="table table-striped">
          <tbody>
          <tr th:each="show : ${shows}">
            <td>
              <a th:href="@{/show/{id}(id=${show.showId})}" th:text="${show.title}"></a>
              <span th:text="${show.nextEpisode}" class="next-episode-time"></span>
            </td>
            <td>
              <span>
                <a th:href="@{/checkShow/{id}(id=${show.showId})}">チエック</a>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-6">
        <hr/>
        <div class="page-head"><a th:href="@{/addShow}">
          <button>新</button>
        </a></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
