<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shows</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/shows.css" media="screen"/>

  <script src="/shows.js"></script>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
  <script src="/stomp.js"></script>
  <script>
    $( function() {
      $( "#progressbar" ).progressbar({value: 0});
    } );
  </script>
</head>
<body onload="updateDisabledShows()">
<div style="position: absolute; z-index:100">
  <button style="padding: 6px" onclick="toggleActivity(this)">最近</button>
</div>
<div style="visibility: hidden; position: absolute; background-color: #2b59a9; padding: 4px; z-index: 30" id="recent-activity">
  <table>
    <tbody>
    <tr th:each="show : ${recentShows}">
      <td style="padding-right: 7px">
        <span th:text="${show.downloaded}"></span>
      </td>
      <td>
        <span th:text="${show.name}"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <div class="page-head">Shows</div>
        <span><input type="checkbox"
                     id="showHideShowsBox"
                     onchange="updateDisabledShows()"
                     onload="updateDisabledShows()"/> Show disabled</span>
        <hr/>
        <table class="table table-striped">
          <tbody id="show-list" >
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-6">
        <hr/>
        <div class="page-head"><a href="/show.html">
          <button>新</button>
        </a></div>
      </div>
    </div>
  </div>
</div>

<div id="download-bar" style="position: fixed;left: 50%;bottom: -50px; width:50%">
  <div style="position: relative; left: -50%; background-color: #202827; padding-left: 10px; padding-right: 10px">Downloading <span id="downloading-file-name"></span><br>
    <div id="progressbar"></div>
  </div>
</div>

</body>
</html>
